

@font-face {
    font-family: 'ubuntu';
    src: url('https://eduruiz333.github.io/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;

    body {
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: ubuntu;
        background-color: #1a1d21;
        color: #00FFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}


