
@font-face {
    font-family: 'ubuntu';
    src: url('https://eduruiz333.github.io/assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


// COLOR PALETTE
$cyan: #5ac4f9;
$red: #fc280f;
$green: #85c54c;
$yellow: #f4ba26;
$orange: #f38b19;
$black: #000000;
$greyDark: #617695;
$greyLight: #c6d7e0;
$white: #ffffff;

// TEXT-COLORS
.color-cyan {
    color: $cyan !important;
}
.color-red {
    color: $red !important;
}
.color-green {
    color: $green !important;
}
.color-yellow {
    color: $yellow !important;
}
.color-orange {
    color: $orange !important;
}
.color-black {
    color: $black !important;
}
.color-greyDark {
    color: $greyDark !important;
}
.color-greyLight {
    color: $greyLight !important;
}
.color-white {
    color: $white !important;
}

// BACKGROUND COLORS
.bg-cyan {
    background-color: $cyan !important;
}
.bg-red {
    background-color: $red !important;
}
.bg-green {
    background-color: $green !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-orange {
    background-color: $orange !important;
}
.bg-black {
    background-color: $black !important;
}
.bg-greyDark {
    background-color: $greyDark !important;
}
.bg-greyLight {
    background-color: $greyLight !important;
}
.bg-white {
    background-color: $white !important;
}

.min-auto {
   min-width: auto !important;
}

// FONT TYPES
@font-face {
    font-family: 'Open Sans', sans-serif;
}
$mainFont: 'Open Sans', sans-serif;

body {
    font-family: ubuntu, Arial, Helvetica, Verdana;
    background-color: $greyDark;
}

.custom-border {
    border-color: $cyan;
}

span.feature-box.custom-feature-box:hover .custom-feature-box-icon{
    color: $cyan;
}

.custom-feature-box:hover .custom-feature-box-icon {
    background: $cyan;
}


.btn-tertiary {
    background-color: $greyDark !important;
    border-color: $cyan $cyan $greyLight !important;
}

.custom-social-icons li.social-icons-instagram a {
    background: #843534;
}


