
@font-face {
    font-family: 'ubuntu';
    src: url('https://eduruiz333.github.io/assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


// COLOR PALETTE
$cyan: #5fdcff;
$red: #fc280f;
$green: #85c54c;
$yellow: #f4ba26;
$orange: #f38b19;
$black: #000000;
$greyDark: #617695;
$greyLight: #c6d7e0;
$white: #ffffff;

// Font Types
@font-face {
    font-family: 'Open Sans', sans-serif;
}
$mainFont: 'Open Sans', sans-serif;

body {
    font-family: ubuntu, Arial, Helvetica, Verdana;
    background-color: $greyDark;
}

.custom-border {
    border-color: $cyan;
}

span.feature-box.custom-feature-box:hover .custom-feature-box-icon{
    color: $cyan;
}

.custom-feature-box:hover .custom-feature-box-icon {
    background: $cyan;
}

#header.header-floating-icons .header-nav-main nav > ul > li {

    > a:after {
        background: $greyDark;
    }

    > a.active {
        i{
            color: $white;
        }
        &:after{
            background: $cyan;
        }
    }

    > a > span,
    > a > span:before {
        background: $greyDark;
        color: $white;
    }

    > a > i {
        color: $white;
    }
}


html .text-color-primary {
    color: $cyan !important;
}


.custom-text-color-1 {
    color: $white !important;
}

.btn-tertiary {
    background-color: $greyDark !important;
    border-color: $cyan $cyan $greyLight !important;
}

.custom-social-icons li.social-icons-instagram a {
    background: #843534;
}